<tr>
    <td class="{{ alternativeBackground }}" valign="top">
        <label for="{{ fieldData.field_key }}"><strong>{{ fieldHeader }}:</strong></label>
    </td>
    <td class="{{ alternativeBackground }}" valign="top">
        {{ fieldItems|raw }}
        {{ fieldDescription }}
    </td>
</tr>