<br/>{{ attachmentIcon|raw }}&nbsp;&nbsp;<a href="{{ baseUrl }}{{ attachmentUrl }}" target="_blank"
                                            title="{{ attachmentDate }}">{{ attachmentFileName
    }}</a> ({{ lang.postbit_attachment_size }}{{ attachmentFileSize }}/ {{ lang.postbit_attachment_downloads }} {{ attachmentDownloads }})