<a href="{{ editUrl }}" class="post-control post-control--quick-edit quick_edit_button"
   id="quick_edit_entry_{{ entrySlug }}" title="{{ lang.myShowcaseCommentButtonEditDescription }}">
    {{ include('partials/icon.twig', {icon: 'pencil-alt', class: 'post-control__icon fa-fw'}, with_context = false) }}
    <span class="post-control__text">{{ lang.myShowcaseCommentButtonEdit }}</span>
</a>