<header class="page-header">
    <h1 class="title title--page">{{ entrySubject|raw }}</h1>
</header>

<div class="page-controls page-controls--top">
    <div class="thread-pagination thread-pagination--top">
        {{ pagination|raw }}
    </div>
</div>

<section class="post-list" id="entry">
    {{ entryPost|raw }}
</section>

<section class="post-list" id="comments">
    {{ commentsList|raw }}{{ commentsEmpty|raw }}
</section>

{{ commentsForm|raw }}

<footer class="page-footer">
    <div class="row row--simple-columns thread-actions">
        {% if canSearch %}
            <div class="thread-search inline-form">
                <form action="search.php" method="post">
                    <input type="text" name="keywords" placeholder="{{ lang.myShowcaseEntryEnterKeywords }}"
                           class="textbox textbox--large" size="25"/>
                    <button type="submit" class="button button--inline">
                        {{ include('partials/icon.twig', {icon: 'search', class: 'button__icon'}, with_context = false) }}
                        <span class="button__text">{{ lang.myShowcaseEntrySearchEntry }}</span>
                    </button>
                    <input type="hidden" name="action" value="entry"/>
                    <input type="hidden" name="entry_id" value="{{ entryID }}"/>
                </form>
            </div>
        {% endif %}
        <div class="thread-nav">
            <a href="{{ entryOlderUrl|raw }}" class="button button--basic">
                {{ include('partials/icon.twig', {icon: 'angle-double-left', class: 'button__icon'}, with_context =
                    false) }}
                <span class="button__text">{{ lang.myShowcaseEntryNextOldest }}</span>
            </a>
            <a href="{{ entryNewerUrl|raw }}" class="button button--basic">
                <span class="button__text">{{ lang.myShowcaseEntryNextNewest }}</span>
                {{ include('partials/icon.twig', {icon: 'angle-double-right', class: 'button__icon
                button__icon--after'}, with_context = false) }}
            </a>
        </div>
    </div>

    {% if is_moderator %}
        {% include 'showthread/moderation.twig' %}
    {% endif %}
</footer>
<script type="text/javascript">
    var thread_deleted = "{{ thread_deleted }}";

    if(thread_deleted == "1")
    {
        $("#quick_reply_form, .new_reply_button, .thread_tools, .inline_rating").hide();
        $("#moderator_options_selector option.option_mirage").attr("disabled","disabled");
    }
</script>

<br class="clear"/>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        Fancybox.bind("[data-fancybox]", {
            animated: false,
            closeExisting: true,
            compact: true,
            groupAll: true,
            l10n: "{{ lang.settings.htmllangs }}"
        });
    });
</script>