<form id="approveCommentForm{{ commentSlug }}" action="{{ approveUrl }}" method="post" style="display:none;">
    <input type="hidden" name="my_post_key" value="{{ mybb.post_code }}"/>
</form>
<a href="javascript:void(0)"
   onclick="Showcase.confirmSubmit('{{ lang.myShowcaseCommentButtonApproveConfirm }}', 'approveCommentForm{{ commentSlug }}');"
   title="{{ lang.myShowcaseCommentButtonApproveDescription }}" class="post-control post-control--delete">
    {{ include('partials/icon.twig', {icon: 'trash', class: 'post-control__icon fa-fw'}, with_context = false) }}
    <span class="post-control__text">{{ lang.myShowcaseCommentButtonApprove }}</span>
</a>